@import "~topcoder-react-ui-kit/src/styles/mixins";
@import "mixins/typography";
@import "mixins/media";
@import "GUIKit/Includes";

/* member rating colors */
$member-gray: #555;
$member-green: #258205;
$member-blue: #4c50d9;
$member-yellow: #f2c900;
$member-red: #ea1900;

// Placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
